<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Lumino - Forms</title>

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>明星后台管理</span>Admin</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> User <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
		
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
		</form>
		<ul class="nav menu">
			<li><a href="/tables"><span class="glyphicon glyphicon-list-alt"></span> Tables</a></li>
			<li class="active"><a href="#"><span class="glyphicon glyphicon-pencil"></span> Forms</a></li>
			<li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login Page</a></li>
		</ul>
		<div class="attribution">Template by <a href="http://www.medialoot.com/item/lumino-admin-bootstrap-template/">Medialoot</a></div>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Forms</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Forms</h1>
			</div>
		</div><!--/.row-->
				
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Form Elements</div>
					<div class="panel-body">
						<table class="table table-bordered">
						<tr>
							<td>用户ID</td>
							<td>用户账号</td>
							<td>用户姓名</td>
							<td>用户手机</td>
							<td>信息变动</td>
						</tr>
						<tr>
                            <td><%-result._id %></td>
                            <td><%-result.id %></td>
                            <td><%-result.name %></td>
                            <td><%-result.tel %></td>
							<td>
								<button type="button" class="btn btn-primary" id="xiu" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" data-id="<%-result._id %>">修改</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">修改用户信息</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-id" class="control-label">用户账号</label>
            <input type="text" class="form-control" id="recipient-Id">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">用户姓名</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="recipient-tel" class="control-label">用户手机</label>
            <input type="text" class="form-control" id="recipient-tel">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="gai">确定</button>
      </div>
    </div>
  </div>
</div>
								<!--<button type="button" class="btn btn-primary" id="shan" data-id="<%-result._id %>">删除</button>-->
								<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  删除
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        您确定删除这条信息吗？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="shan" data-id="<%-result._id %>">确定</button>
      </div>
    </div>
  </div>
</div>
							</td>
						</tr>
						</table>
					</div>
				</div>
			</div><!-- /.col-->
		</div><!-- /.row -->
		
	</div><!--/.main-->

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
			$(document).on("click","ul.nav li.parent > a > span.icon", function(){		  
				$(this).find('em:first').toggleClass("glyphicon-minus");	  
			}); 
			$(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
		//删除
		$('#shan').click(function(){
			var perid = this.getAttribute("data-id")
			console.log(perid)
			$.ajax({
			type:"post",
			url:"/users/forms",
			data:{id:perid},
			success:function(data){
				if(data==1){
					alert('删除成功')
					location.href='/tables'
				}else{
					alert('删除失败')
					location.href='/tables'
				}
			}
		});
	})
	</script>
	<script type="text/javascript">
$('#xiu').click(function(){
	var perid = this.getAttribute("data-id");
	var wid = $(this).parent().prev().prev().prev().text();
	var wname = $(this).parent().prev().prev().text();
	var wtel= $(this).parent().prev().text();
	$("#recipient-Id").val(wid);
	$("#recipient-name").val(wname);
	$("#recipient-tel").val(wtel);
$("#gai").click(function(){
	console.log(perid)
				$.ajax({
					type:"post",
					url:"/users/zhengzhou",
					data:{pid:perid,id:$("#recipient-Id").val(),name:$("#recipient-name").val(),tel:$("#recipient-tel").val()},
					success:function(data){
						if(data==2){
						    alert("修改成功")
					location.href='/forms?id=<%-result._id %>'
						}else{
							alert('修改失败')
					location.href='/forms?id=<%-result._id %>'
						}
					}
				});
		    })	
       })
	</script>
</body>

</html>
